<?xml version='1.0' encoding='utf-8'?>
<widget id="org.iurinh.garconapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Garçonete Só de Cenoura</name>
    <description>
        App para uso das garçonetes dentro do restaurante.
    </description>
    <author email="iurinh@dominio.com" href="http://dominio.com">
        Iuri do Nascimento Hidalgo
    </author>
    <preference name="Orientarion" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgrounColor" value="0xF2F2F2FF" />
    
</widget>
